{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}
    <h1>Sign Up - DashLink</h1>

    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.email.label }}
        <br>
        {{ form.email() }}
        <br>
        {{ form.username.label }}
        <br>
        {{ form.username() }}
        <br>
        {{ form.password.label }}
        <br>
        {{ form.password() }}
        <br>
        {{ form.password2.label }}
        <br>
        {{ form.password2() }}
        <br>
        {{ form.submit() }}
    </form>
{% endblock %}
