<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - DashLink</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('main.index') }}">DashLink</a>
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
        <a href="{{ url_for('auth.sign_up') }}">Sign Up</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>